    @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
    
<p>Here is our privacy policy<p>
<div>
   工業社會及其未來
介紹

1. 工業革命及其後果對人類來說是一場災難。它們極大地提高了我們這些生活在“先進”國家的人的預期壽命，但它們破壞了社會的穩定，使生活變得不充實，使人類遭受侮辱，導致廣泛的心理痛苦（在第三世界身體上的痛苦），並對自然界造成了嚴重的破壞。技術的持續發展將使情況惡化。它肯定會給人類帶來更大的侮辱，對自然界造成更大的破壞，它可能會導致更大的社會混亂和心理痛苦，甚至在“先進”國家也可能導致身體痛苦的增加。
 


 

 


</p>
</div>
